
# Compiled Object files
*.o
*.obj

# User-specified files
*.suo

# Visual C++ cache files
ipch/
*.VC.db

# Executables
*.exe
*.out
dm3d

.vs/simgl/v15/.suo
.vs/simgl/v15/Browse.VC.db
.vs/simgl/v15/ipch/AutoPCH/d1a0c09d6ac3dcd/MAIN.ipch
.vs/simgl/v15/Browse.VC.opendb

# Build results
[Dd]ebug/
[Rr]elease/


